<h1>Commit <%= @commit.id[0..10] %> - Path: <%= @path == true ? " - Path: #{@path}" : '' %></h1>
<ul class="thumbnails">
<% @tree.contents.each do |obj| %>
    <li class="span2">
        <div class="thumbnail">
            <a href="/view/<%= @commit.id %>/<%= @path %><%= obj.name %>">
                <img src="/render/<%= @commit.id %>/<%= @path %><%= obj.name %>" />
            </a>
            <h5><%= obj.name %></h5>
            <p><%= obj.is_a?(Grit::Blob) ? "#{obj.mime_type}" : 'a folder' %></p>
        </div
    </li>
<% end %>
</ul>
