<ul class="thumbnails">
<% @sorted_repos.each do |repo| %>
  <% if repo.category == @cat %>
  <li class="span2">
      <div class="thumbnail">
          <div class="thumb">
            <% if repo.iceberg %>
            <a href="/<%= repo.web_path %>/"><img src="/<%= repo.web_path %>/thumbnail/latest/iceberg/<%= repo.iceberg[0] %>"></a>
            <% end %>
          </div>
        <a href="/<%= repo.web_path %>/"><%= repo.title %></a>
      </div>
  </li>
  <% end %>
<% end %>
</ul>