<div class="row">
  <div class="span6">
    <%= @repo.project_description %>

    <% if @repo.iceberg %>
        <% @repo.iceberg.each do |image| %>
            <p><img src="/<%= @repo.web_path %>/render/latest/iceberg/<%= image %>" /></p>
        <% end %>
    <% end %>
  </div>

  <div id="commit-list" class="span4">
  <% if @repo.source_files %>
	  <ul style="margin-top: 72px">
	  <% @repo.commits.each_with_index do |commit, i| %>
		    <li class="commit" >
		        <p class="commit-id">
				<%= commit.id[0..10] %> 
			</p><p>
				<span class="commit-author"><%= commit.author %></span> <span class="commit-author-said">said</span>
			<p class="commit-message">
				<a href="/<%= @repo.web_path %>/view/<%= i == 0 ? 'latest' : commit.id[0..10] %>/"><%= commit.message.lines.first %></a>
			</p>
			<p class="commit-date"><%= commit.committed_date.strftime("%A, %d %B %Y") %></p>
		    </li>
	  <% end %>
	  </ul>
  <% else %>
	  &nbsp;
  <% end%>

  </div>
</div>
