<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title><%= @title %></title>
        <link rel="stylesheet" type="text/css" href="/atfont-face/atfont-face.css">
        <link rel="stylesheet" type="text/css" href="/atfont-face/UniversElse.css">
        <!-- <link rel="stylesheet" type="text/css" href="/css/visualculture.css"> -->
        <link rel="stylesheet/less" type="text/css" href="/visualculture.less">
        <link rel="stylesheet/less" type="text/css" href="http://osp.constantvzw.org/styles-start.less">
        <script src="/js/jquery-1.7.2.min.js"></script>
        <!-- <link rel="stylesheet/less" type="text/css" href="/less/bootstrap.less"> -->
        <script src="/js/less-1.2.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="navbar" style="margin-bottom:0;">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/work/">Works</a></li>
                    <li><a href="http://osp.constantvzw.org/foundry/">Foundry</a></li>
                    <li><a href="/workshop/">Workshops</a></li>
                    <li><a href="/tools/">Tools</a></li>
                    <li><a href="http://osp.constantvzw.org/blog/">Blog</a></li>
                    <li><a href="http://osp.constantvzw.org/images/">Images</a></li>
                    <li><a href="http://osp.constantvzw.org/about">About</a></li>
                    <li><a href="http://osp.constantvzw.org/contact">Contact</a></li>
		    <li>
		        <object data="http://osp.constantvzw.org/pict/OSP_new-frog.svg" style="width:60px;height:60px;" type="image/svg+xml">
		            <img alt="A stylised image of a frog." style="width:60px;height:60px;" src="./pict/OSP_new-frog.png">
		        </object>
			<a href="http://osp.constantvzw.org/">OSP,</a>
			<p id="baseline">Graphic design caravan</p>
		    </li>
                </ul>
            </div>
        </div>
    </div>
        <% if @repo %>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                            <% if @repo.source_files %>
				    <p>
					<a href="/<%= @repo.web_path %>/view/latest/"><!-- <img src="http://upload.wikimedia.org/wikipedia/commons/f/f5/Anaphase.jpg" />--></a>
					<a class="project-source" href="/<%= @repo.web_path %>/view/latest/">Source Files</a>
				    </p>
				    <p><a class="git-clone" data-toggle="modal" href="#cloneModal" >Git Clone</a></p>
                            <% end %>
                            <% if @commit %>
                            <li class="active">
                                <a href="/<%= @repo.web_path %>/view/<%= @commit_slug %>/"><%= @commit_slug %></a>
                            </li>
                            <% end %>
                   </div>
            </div>
        </div>
        <% end %>
        <div class="container">
            <% if @commit %>
            <ul class="breadcrumb">
                <li>
                    <a href="/<%= @repo.web_path %>/view/<%= @commit_slug %>/"><%= @repo.slug %></a> <% if @path != "" %><span class="divider">/</span><% end %></a>
                <% # All this is to create links to the pathname components (that include the preceding path )
                p = @path.split("/")
                (0..p.length - 2).to_a.each do | i | %>
                <li>
                   <a href="/<%= @repo.web_path %>/view/<%= @commit_slug %>/<%= p[0..i].join("/") %>"><%= p[i] %></a> <span class="divider">/</span>
                </li>
                <% end # the last one gets no link -> %>
                <li class="active">
                   <%= p[-1] %> <% if @dir %><span class="divider">/</span><% end %>
                </li>
            </ul>
            <% end %>
            <%= yield %>
        </div>
        <% if @commit %>
        <div class="modal hide" id="cloneModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Clone the git repository</h3>
            </div>
            <div class="modal-body">
                <p>The public git address for this repo is:</p>
                <pre>git://git.constantvzw.org/<%= @repo_slug %>.git</pre>
                <p>to clone it, in the terminal type:</p>
                <pre>git clone git://git.constantvzw.org/<%= @repo_slug %>.git</pre>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <% end %>
    </body>
</html>
