<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title><%= @title %></title>
        <link rel="stylesheet" type="text/css" href="/atfont-face/atfont-face.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/visualculture.css">
        <script src="/js/jquery-1.7.2.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
                <div class="container">
                        <ul class="nav">
                            <li>
                                <a href="http://ospublish.constantvzw.org/" class="brand">OSP</a>
                            </li>
                            <li>
                                <a href="http://ospublish.constantvzw.org/portfolio/">Portfolio</a>
                            </li>
                            <li class="active">
                                <a href="http://git.schr.fr/">Source Files</a>
                            </li>
                            <li>
                                <a href="http://ospublish.constantvzw.org/images/">Snapshots</a>
                            </li>
                            <li>
                                <a href="http://ospublish.constantvzw.org/foundry/">Foundry</a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li>
                                <a href="http://ospublish.constantvzw.org/about">About</a>
                            </li>
                            <li>
                                <a href="http://ospublish.constantvzw.org/contact">Contact</a>
                            </li>
                        </ul>
                   </div>
            </div>
        </div>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                        <ul class="nav">
                            <li>
                                <a href="/" class="brand"><%= @repo_name %></a>
                            </li>
                            <% if @commit %>
                            <li class="active">
                                <a href="/<%= @repo_path %>/view/<%= @commit_slug %>/"><%= @commit_slug %></a>
                            </li>
                            <% end %>
                        </ul>
                        <% if @commit %>
                        <ul class="nav pull-right">
                            <li><a data-toggle="modal" href="#cloneModal" >Git Clone</a></li>
                        </ul>
                        <% end %>
                   </div>
            </div>
        </div>
        <div class="container">
            <% if @commit %>
            <ul class="breadcrumb">
                <li>
                    <a href="/<%= @repo_path %>/view/<%= @commit_slug %>/"><%= @repo_path %></a> <% if @path != "" %><span class="divider">/</span><% end %></a>
                <% # All this is to create links to the pathname components (that include the preceding path )
                p = @path.split("/")
                (0..p.length - 2).to_a.each do | i | %>
                <li>
                   <a href="/<%= @repo_path %>/view/<%= @commit_slug %>/<%= p[0..i].join("/") %>"><%= p[i] %></a> <span class="divider">/</span>
                </li>
                <% end # the last one gets no link -> %>
                <li class="active">
                   <%= p[-1] %> <% if @dir %><span class="divider">/</span><% end %>
                </li>
            </ul>
            <% end %>
            <%= yield %>
        </div>
        <% if @commit %>
        <div class="modal hide" id="cloneModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Clone the git repository</h3>
            </div>
            <div class="modal-body">
                <p>The public git address for this repo is:</p>
                <pre>git://git.constantvzw.org/<%= @repo_slug %>.git</pre>
                <p>to clone it, in the terminal type:</p>
                <pre>git clone git://git.constantvzw.org/<%= @repo_slug %>.git</pre>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <% end %>
    </body>
</html>
