<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title><%= @title %></title>
        <link rel="stylesheet/less" type="text/css" href="/visualculture.less">
        <script src="/js/jquery-1.7.2.min.js"></script>
        <script src="/js/less-1.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
            <div id="home-infos">
            What is that? Some says that those snapshots are to our work what the pictures of a cookbook are to the cooked meal. source files = ingredients. These arrangements of blocks of text and pictures tries harder to depict the most current projects, some interesting visual extracts and the source files that provide a convenient way to access to study it, change it, to redistribute copies of it, to improve it and release your improvements (and modified versions in general). Nous sommes embarqués.<a href="http://osp.constantvzw.org/about"> Read more about the way we work → </a>
            </div>

        <% if @repo %>
        <!-- extra options when in a repository-->
        <!-- note this could be shown elsewhere then in a navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                    <% if @repo.source_files %>
                        <li><a href="/<%= @repo.web_path %>/view/latest/"><!-- <img src="http://upload.wikimedia.org/wikipedia/commons/f/f5/Anaphase.jpg" />--></a>
                        <li><a class="project-source" href="/<%= @repo.web_path %>/view/latest/">Source Files</a></li>
                        <li><a class="git-clone" data-toggle="modal" href="#cloneModal" >Git Clone</a></li>
                    <% end %>
                    <% if @commit %>
                        <li class="active">
                            <a href="/<%= @repo.web_path %>/view/<%= @commit_slug %>/"><%= @commit_slug %></a>
                        </li>
                    </ul>
                    <% end %>
                   </div>
            </div>
        </div>
        <% end %>

        <% if @commit %>
        <!-- Navigate through the repository-->
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="/<%= @repo.web_path %>/view/<%= @commit_slug %>/"><%= @repo.slug %></a> <% if @path != "" %><span class="divider">/</span><% end %></a>
                <% # All this is to create links to the pathname components (that include the preceding path )
                p = @path.split("/")
                (0..p.length - 2).to_a.each do | i | %>
                <li>
                   <a href="/<%= @repo.web_path %>/view/<%= @commit_slug %>/<%= p[0..i].join("/") %>"><%= p[i] %></a> <span class="divider">/</span>
                </li>
                <% end # the last one gets no link -> %>
                <li class="active">
                   <%= p[-1] %> <% if @dir %><span class="divider">/</span><% end %>
                </li>
            </ul>
        </div>
        <% end %>


        <div id="active-projects">

            <!-- Main body follows:-->
<%= yield %>

        </div>
        
        <!-- Menu navigation-->
        <div id="menu-wrapper">
            <ul id="menu">
                <li><a href="/work/">Works</a></li>
                <li><a href="http://osp.constantvzw.org/foundry/">Foundry</a></li>
                <li><a href="/workshop/">Workshops</a></li>
                <li><a href="/tools/">Tools</a></li>
                <li><a href="http://osp.constantvzw.org/blog/">Blog</a></li>
                <li><a href="http://osp.constantvzw.org/images/">Images</a></li>
                <li><a href="http://osp.constantvzw.org/about">About</a></li>
                <li><a href="http://osp.constantvzw.org/contact">Contact</a></li>
                <li>
                    <object data="http://osp.constantvzw.org/pict/OSP_new-frog.svg" style="width:60px;height:60px;" type="image/svg+xml">
                        <img alt="A stylised image of a frog." style="width:60px;height:60px;" src="./pict/OSP_new-frog.png">
                    </object>
                    <a href="/">OSP,</a>
                    <p id="baseline">Graphic design caravan</p>
               </li>
           </ul>
       </div>
       
        
        <% if @repo %>
        <!-- This is shown when you click Git Clone-->
        <div class="modal hide" id="cloneModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Clone the git repository</h3>
            </div>
            <div class="modal-body">
                <p>The public git address for this repo is:</p>
                <pre>git://git.constantvzw.org/<%= @repo_slug %>.git</pre>
                <p>to clone it, in the terminal type:</p>
                <pre>git clone git://git.constantvzw.org/<%= @repo_slug %>.git</pre>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <% end %>
    </body>
</html>
